@{
    var cars = (List<CarsModel>)ViewBag.cars;
}
<section class="list-filter">
    <div class="container-fluid">
        <div class="accordion" id="accordionExample">
            <div class="card-header" id="headingOne">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Filter <i class="fa fa-filter" aria-hidden="true"></i>
                </button>
            </div>
            <div id="collapseOne" class="filter-form collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="form-group">
                            <form name="modulo" action.="action..://easyauctiondemo.com/index.php" method="get" class="nocsrf">
                                <input type="hidden" name="page" value="search">
                                <input type="number" name="sPatternid" value="" placeholder="Lot #" class="form-control">
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <form name="modulo" action.="action..://easyauctiondemo.com/index.php" method="get" class="nocsrf" id="cat_frm">
                                <input type="hidden" name="page" value="search">
                                <input class="form-control" id="sPattern" type="text" name="sPattern" value="" placeholder=" Search">
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <form name="modulo" action.="javascript:void()" method="get" class="nocsrf">
                                <input type="hidden" name="page" value="search">
                                <input type="hidden" name="sPattern" id="hiddenpat" value="">
                                <input type="hidden" name="iPagesize" id="iPagesizecat" value="200">
                                <select name="sCategory" id="sCategory" class="form-control">
                                    <option value="">Select a category</option>
                                    <option value="122">Crossover</option>
                                    <option value="109">SUV</option>
                                    <option value="100">HatchBack</option>
                                    <option value="102">Convertible</option>
                                    <option value="118">Sedan</option>
                                    <option value="121">Coupe</option>
                                </select>
                                <input type="submit" id="cat_submit" style="display:none;">
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group" style="margin-bottom: 0px;">
                            <form name="modulo" action.="action..://easyauctiondemo.com/index.php" method="get" class="nocsrf" style="float: right;">
                                <input type="hidden" name="page" value="search">
                                <input type="hidden" name="sCategory" value="vacation">

                                <select name="iPagesize" id="page_per" class="form-control" style="margin-left: 10px;">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                    <option value="200" selected="">200</option>
                                </select>
                                <input type="submit" id="pg_submit" style="display:none;">
                            </form>

                        </div>

                        <div class="form-group">
                            <form name="modulo" action.="https://easyauctiondemo.com/index.php" method="get" class="nocsrf" style="float:right;" id="">
                                <input type="hidden" name="page" value="search">

                                <input type="hidden" name="sCategory" value="vacation">
                                <select name="sOrder" id="sortslt" class="form-control">
                                    <option value="lot_id">Newly listed</option>
                                    <option value="dt_pub_date" selected="">First Ending First</option>
                                </select>
                                <input type="submit" id="sortfrm" style="display:none;">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="auction-slide auction-itemlist">
    <div class="container-fluid">
        <div class="row">
            @{
                var index = 0;
            }
            @foreach (var car in cars)
            {

                <div class="col-md-4 col-lg-3">
                    <div class="auction-prodt">
                        <div class="auction-imgbox">
                            <a style="background: none;" href="~/Advert?id=@index"><img src="~/assets/images/car_images/@(car.images[0])" title=""></a>
                        </div>
                        <h4 class="text-center">
                            @car.title
                        </h4>
                        <h3 class="text-center">R@(car.price) <span>Start price </span></h3>
                        <a href="~/Advert?id=@index">Details</a>
                        <h5 id="demo">
                            <div class="auction-time text-center atimer other is-countdown" id="atimer" data-cdate="2022-09-09 11:27:01" data-sdate="2022-09-02 17:04:04" data-edate="2022-09-09 17:04:04" style="width: 100%;" data-endtime="5h 37m 3s "><span><strong>0 </strong>d <strong>4 </strong>h <strong>15 </strong>m <strong>55 </strong>s</span></div>
                        </h5>

                        <span id="premium_success">
                            <button id="button-14" style="font-size: 1.2rem;
                                                    padding: 0.2rem 0.4rem 0.06rem;
                                                    color: #777;
                                                    border-radius: 22%;
                                                    background-color: #fff;
                                                    border: 1px solid #777;" data-action="add" data-id="14" class="watch-home">
                                <i class="fa fa-heart-o" style="color: black;font-size: 20px;"></i>
                            </button>
                        </span>

                        <div class="clearfix"></div>
                    </div>
                </div>
                {
                    index++;
                }
            }
        </div>
        @*<nav aria-label="Page navigation example">
        <ul class="pagination  justify-content-center"><li class="page-item"><span class="page-link">1</span></li></ul>
        </nav>*@
    </div>
</section>